@model PlayerListViewModel
@{
    ViewData["Title"] = "Player Looker";
}
<div class="row">
    <div class="col-sm-3">
        <a style="width:fit-content;font-size:2em; margin-top:10px; margin-left:10px; padding:10px;" class="btn btn-primary" asp-action="AddPlayer"><b>Add New Player</b></a>
        <h3 class="mt-3">Class</h3>
        <div class="list-group">
            @foreach (Class cla in Model.Classes)
            {
                <a asp-action="Index"
               asp-route-activeClass="@cla.ClassID"
               asp-route-activeRace="@Model.ActiveRace"
               class="list-group-item
                       @Model.CheckActiveClass(cla.ClassID)">@cla.Name</a>
            }
        </div>
        <h3 class="mt-3">Race</h3>
        <div class="list-group">
            @foreach (Race rac in Model.Races)
            {
                <a asp-action="Index"
               asp-route-activeClass="@Model.ActiveClass"
               asp-route-activeRace="@rac.RaceID"
               class="list-group-item
                       @Model.CheckActiveRace(rac.RaceID)">@rac.Name</a>
            }
        </div>
    </div>
    <div class="col-sm-9">
        <ul class="list-inline">
            @foreach (Player player in Model.Players)
            {
                <br>
                <li class="list-inline-item">

                    <a asp-action="Details" asp-route-id="@player.PlayerID">
                        <h1 style="color:white; padding-top:16px; padding-left:10px; padding-right:10px">
                            @player.Name | @player.Class.Name
                        </h1>
                    </a>
                    <br>

                </li>
                <li></li>
            }
        </ul>
    </div>
    
</div>