@model Player
@addTagHelper *, FinalCIS174
@{
    ViewData["Title"] = "Delete Player";
}
<h2>Delete Player: @Model.Name</h2>
<form asp-action="DeletePlayer" method="post">
    <h4>Level: @Model.Level, Race: @Model.Race.Name, Class: @Model.Class.Name</h4>
    <h1>Are you sure you want to delete this player?</h1>
@*    This is so we can get the PlayerID
*@    <input type="hidden" asp-for="@Model.PlayerID" />
    <vc:status></vc:status>
    <submit-button class="btn btn-danger">Delete</submit-button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
