<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalCIS174</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinalCIS174.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Admin View</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Exit Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Player" asp-action="Index">Admin Player View</a>
                        </li>
                        <li>
@*                            Get Temp data message *@                            
                            @if (TempData["message"] != null)
                            {
                                <a class="nav-link text-dark">@TempData["message"]</a>
                            }
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">

                    @using Microsoft.AspNetCore.Identity
                    @inject SignInManager<User> signInManager
                    @if (signInManager.IsSignedIn(User))
                    {
                        string userLog = User.Identity.Name;
                        
                        @if(userLog == "DIO") {
                                <li style="margin-right:10px; margin-top:8px;" class="nav-item">Hello Admin, @User.Identity.Name!</li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Player" asp-action="Index">Admin</a>
                                </li>
                                <li class="nav-item">
                                    <form method="post" asp-action="Logout" asp-controller="Account"
                                  asp-area="">
                                        <input type="submit" value="Logout"
                                       class="btn btn-outline-dark" />
                                    </form>
                                </li>
                        }
                        else {
                                <li class="nav-item">Hello, @User.Identity.Name!</li>
                                <li class="nav-item">
                                    <form method="post" asp-action="Logout" asp-controller="Account"
                                  asp-area="">
                                        <input type="submit" value="Logout"
                                       class="btn btn-outline-dark" />
                                    </form>
                                </li>
                        }
                    }
                    else {
                            <li class="nav-item">
                                <a asp-action="Register" asp-controller="Account"
                               asp-area="" class="btn btn-outline">
                                    Register
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Login" asp-controller="Account"
                               asp-area="" class="btn btn-outline">Log In</a>
                            </li>
                    }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - FinalCIS174 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
